.homeContainer {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.utilityContainers {
  padding: var(--spacing-small) 0 var(--spacing-medium) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .utilityContainers {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-small);
  }
}

.utilityLeftContainer {
  width: 100%;
}

.utilityRightContainer {
  display: flex;
  gap: var(--spacing-small);
}
