.title {
  color: var(--color-primary-green);
}

.addPlantButton {
  padding: var(--spacing-x-small) var(--spacing-x-small);
  border: 0;
  border-radius: var(--border-radius-medium);
  color: var(--color-primary-beige);
  background-color: var(--color-primary-green);
  text-decoration: none;
  transition: opacity 0.25s;
}

.addPlantButton:hover {
  opacity: 0.8;
}
