/* Rest */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

/* Root styling */
html,
body {
  height: 100%;
  background-color: var(--color-primary-beige);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
