.addPlantContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.inputSection {
  display: flex;
  gap: var(--spacing-medium);
}

@media screen and (max-width: 600px) {
  .inputSection {
    flex-direction: column-reverse;
  }
}

.inputContainer {
  /* max-width: 400px; */
  flex-basis: 60%;
}

@media screen and (max-width: 600px) {
  .inputContainer {
    flex-basis: 100%;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xx-small);
  font-size: var(--font-size-medium);
}

.inputContainer input,
.inputContainer select {
  padding: var(--spacing-xx-small) var(--spacing-x-small);
  font-size: 16px;
}

/* Image styling */

.imageInputContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUrlContainer {
  display: flex;
  flex-direction: column;
}

.imageUrlContainer label {
  font-size: var(--font-size-medium);
  padding-bottom: var(--spacing-small);
}

.imageUrlContainer input {
  font-size: var(--font-size-base);
  padding-bottom: var(--spacing-small);
}

.fileInput::file-selector-button {
  padding: var(--spacing-small) var(--spacing-medium);
  border: 0;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-primary-beige);
  cursor: pointer;
  transition: opacity 0.25s;
}

.fileInput::file-selector-button:hover {
  opacity: 0.5;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.imagePreview {
  margin: 0 auto;
  max-width: 200px;
}

.imagePreviewContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.imageRemoveButton {
  max-width: 200px;
  margin: 0 auto;
  display: inline-block;
  padding: var(--spacing-x-small) var(--spacing-small);
  border: 0;
  border-radius: var(--border-radius-medium);
  color: var(--color-primary-beige);
  background-color: var(--color-primary-red);
  text-decoration: none;
  transition: opacity 0.25s;
}

.imageRemoveButton:hover {
  opacity: 0.8;
}

/* Submit button styling */
.buttonSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submitButton {
  min-width: 200px;
  padding: var(--spacing-small) var(--spacing-medium);
  border: 0;
  border-radius: var(--border-radius-medium);
  color: var(--color-primary-beige);
  background-color: var(--color-primary-green);
  text-decoration: none;
  transition: opacity 0.25s;
}

.submitButton:hover {
  opacity: 0.8;
}

.errorMessage {
  color: rgb(244, 52, 52);
}
