.sortContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xx-small);
}

.sortContainer label,
.sortContainer select {
  padding: var(--spacing-xx-small);
}
